
{% extends 'bridgehand.html' %}
{% block 'body' %}
<img src="/static/cards/qclubs.png">
<img src="/static/cards/9clubs.png">
<img src="/static/cards/5clubs.png">
<img src="/static/cards/4clubs.png">
<br>
<img src="/static/cards/acediamonds.png">
<img src="/static/cards/9diamonds.png">
<br>
<img src="/static/cards/acehearts.png">
<img src="/static/cards/jackhearts.png">
<img src="/static/cards/8hearts.png">
<img src="/static/cards/5hearts.png">
<img src="/static/cards/4hearts.png">
<br>
<img src="/static/cards/6spades.png">
<img src="/static/cards/5spades.png">
<br>
<br><br><h1>What is your opening bid with this hand?</h1><br><br>
<form action="/answer" method="POST">
<input type="radio" value="1" name="amp">1</input>
<input type="radio" value="2" name="amp">2</input>
<input type="radio" value="3" name="amp">3</input>
<input type="radio" value="4" name="amp">4</input>
<input type="radio" value="5" name="amp">5</input>
<input type="radio" value="6" name="amp">6</input>
<input type="radio" value="7" name="amp">7</input>
<br>
<input type="radio" value="Spades" name="suit">Spades</input>
<input type="radio" value="Hearts" name="suit">Hearts</input>
<input type="radio" value="Diamonds" name="suit">Diamonds</input>
<input type="radio" value="Clubs" name="suit">Clubs</input>
<input type="radio" value="NT" name="suit">NT</input>
<br>

 {% csrf-field %}
<input type="hidden" value="1,Hearts" name="ra"/>
<input type="hidden" value="1 heart opener says 'I have 5+ hearts and 11-15 HCP'" name="explanation"/>
<input type="submit">
{% endblock %}
