
{% extends 'bridgehand.html' %}
{% block 'body' %}
<img src="/static/cards/aceclubs.png">
<img src="/static/cards/kclubs.png">
<img src="/static/cards/qclubs.png">
<img src="/static/cards/jclubs.png">
<img src="/static/cards/7clubs.png">
<img src="/static/cards/5clubs.png">
<img src="/static/cards/3clubs.png">
<br>
<img src="/static/cards/acediamonds.png">
<img src="/static/cards/qdiamonds.png">
<img src="/static/cards/5diamonds.png">
<img src="/static/cards/3diamonds.png">
<img src="/static/cards/2diamonds.png">
<br>
<img src="/static/cards/8hearts.png">
<br>
<img src="/static/cards/3spades.png">
<br>
<br><h2>The bidding so far:<br>Opener: 1 clubs<br>
Responder: 1 diamonds<br>
</h2><H1>What is your bid now?</H1><br>
<br><br><h1></h1><br><br>
<form action="/answer" method="POST">
<input type="radio" value="1" name="amp">1</input>
<input type="radio" value="2" name="amp">2</input>
<input type="radio" value="3" name="amp">3</input>
<input type="radio" value="4" name="amp">4</input>
<input type="radio" value="5" name="amp">5</input>
<input type="radio" value="6" name="amp">6</input>
<input type="radio" value="7" name="amp">7</input>
<br>
<input type="radio" value="Spades" name="suit">Spades</input><br/>
<input type="radio" value="Hearts" name="suit">Hearts</input><br/>
<input type="radio" value="Diamonds" name="suit">Diamonds</input><br/>
<input type="radio" value="Clubs" name="suit">Clubs</input><br/>
<input type="radio" value="NT" name="suit">NT</input><br/>
<input type="radio" value="Pass" name="suit">Pass</input><br/>
<br/>

 {% csrf-field %}
<input type="hidden" value="1,Hearts" name="ra"/>
<input type="hidden" value=" use the 1 heart relay to tell your partner more about your beautiful hand" name="explanation"/><input type="submit">
</form>
{% endblock %}