
{% extends 'bridgehand.html' %}
{% block 'body' %}
<img src="/static/cards/5clubs.png">
<br>
<img src="/static/cards/9diamonds.png">
<img src="/static/cards/8diamonds.png">
<br>
<img src="/static/cards/jhearts.png">
<img src="/static/cards/6hearts.png">
<img src="/static/cards/5hearts.png">
<img src="/static/cards/4hearts.png">
<img src="/static/cards/3hearts.png">
<br>
<img src="/static/cards/kspades.png">
<img src="/static/cards/10spades.png">
<img src="/static/cards/6spades.png">
<img src="/static/cards/5spades.png">
<img src="/static/cards/4spades.png">
<br>
<br><h2>The bidding so far:<br>Opener: 1 clubs<br>
Responder: 1 diamonds<br>
Opener: 1 hearts<br>
</h2><H1>What is your bid now?</H1><br>
<br><br><h1></h1><br><br>
<form action="/answer" method="POST">
<input type="radio" value="1" name="amp">1</input>
<input type="radio" value="2" name="amp">2</input>
<input type="radio" value="3" name="amp">3</input>
<input type="radio" value="4" name="amp">4</input>
<input type="radio" value="5" name="amp">5</input>
<input type="radio" value="6" name="amp">6</input>
<input type="radio" value="7" name="amp">7</input>
<br>
<input type="radio" value="Spades" name="suit">Spades</input><br/>
<input type="radio" value="Hearts" name="suit">Hearts</input><br/>
<input type="radio" value="Diamonds" name="suit">Diamonds</input><br/>
<input type="radio" value="Clubs" name="suit">Clubs</input><br/>
<input type="radio" value="NT" name="suit">NT</input><br/>
<input type="radio" value="Pass" name="suit">Pass</input><br/>
<br/>

 {% csrf-field %}
<input type="hidden" value="1,NT" name="ra"/>
<input type="hidden" value=" This is one of the exceptions in the relay system; instead of bidding 1 spade as normal you open 1 no trump, which shows 5-5 in the majors and very weak (0-4 hcp)." name="explanation"/><input type="submit">
</form>
{% endblock %}